html, body {
  height: 100%;
}
.pdv-tela {
  height: 100%;
}
.pdv-frame {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 80%;
}
.input-group-btn {
  width: 40px !important;
}
.btn-busca {
  display: none;
}
.btn-sub {
  display: block;
  color: #fff;
  background-color: #93999e;
  width: 100%;
}
.btn-sub:hover {
  color: #fff;
  background-color: #808283;
}
.btn-sub:active {
  background-color: #bdbdbd !important;
  color:
   #fff !important;
}
.btn-main-menu {
  height:10rem;
  width:10rem;
  cursor:pointer;
}
.margin-b {
  margin-bottom: 1.5rem !important;
}
.section {
  font-size: 2.5rem !important;
}
.table-wrapper {
  height: 22rem;
  width: 100%;
  margin: 0px auto 0px auto;
  overflow: auto;
}
.table-registros {
  height: 37rem;
  width: 100%;
  margin: 0px auto 0px auto;
  overflow: auto;
}
.table-registros-titulos {
  height: 34.5rem;
  width: 100%;
  margin: 0px auto 0px auto;
  overflow: auto;
}
.table-consulta-pedidos {
  height: 54.5rem;
  width: 100%;
  margin: 0px auto 0px auto;
  overflow: auto;
}
.table-consulta-itens {
  height: 40rem;
  width: 100%;
  margin: 0px auto 0px auto;
  overflow: auto;
}
.table-items {
  width: 100%;
  max-height: 1rem;
}
.sm {
  font-size: 0.8rem !important;
}
.ssm {
  font-size: 0.75rem !important;
}
.sm-header {
  font-size: 0.9rem !important;
}
.ssm-header {
  font-size: 0.8rem !important;
}
.active {
  background-color: rgb(166, 166, 166);
}
.missingFields {
  background-color: rgb(218, 198, 198);
}
.options {
  border-radius: 10px;
  padding: 1rem;
  background-color: #dedede;
}
.loading-products {
  margin-left: 12px;
  font-style: italic;
  color: red;
}
.searching {
  font-style: italic;
}
.edit-cart {
  height: 1.25rem;
  margin-left: 12px;
}
.edit-nota {
  height: 1.25rem;
  margin-left: 12px;
  padding-top: 0rem;
}
.icon-cart {
  font-size: 0.75rem !important;
  display: flex;
  align-items: center;
}
.btn-dismiss {
  color: #fff;
  background-color: #aab4bd;
}
.row-modal:hover {
  cursor: pointer;
}
.mandatory {
  color: red;
  font-style: italic;
}
.status {
  font-style: italic;
  font-weight: bold;
}
.title {
  font-size: 2.5rem !important;
}
.subtitle {
  font-size: 1.25rem !important;
}
.margin-y-fields {
  margin-top: 0.7rem !important;
  margin-bottom: 0.7rem !important;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.664);
}
.btn-excl-pagto {
  height: 100%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.dep-active, .dep-active:hover {
  background-color: #6c757d;
  color: white;
}
.dep-item:active {
  background-color: rgb(166, 166, 166);
  color: white;
}  
.footer {
  background-color: #6c757d;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2em;
}
.header-fixed {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media only screen and (max-height: 768px) {
  .table-wrapper {
    height: 14rem;
    width: 100%;
    margin: 0px auto 0px auto;
    overflow: auto;
  }
  .table-registros {
    height: 22rem;
    width: 100%;
    margin: 0px auto 0px auto;
    overflow: auto;
  }
  .table-registros-titulos {
    height: 18.5rem;
    width: 100%;
    margin: 0px auto 0px auto;
    overflow: auto;
  }
  .table-consulta-pedidos {
    height: 27rem;
    width: 100%;
    margin: 0px auto 0px auto;
    overflow: auto;
  }
  .table-consulta-itens {
    height: 13.7rem;
    width: 100%;
    margin: 0px auto 0px auto;
    overflow: auto;
  }
  .input-sale {
    font-size: 0.8rem !important;
  }
  .title {
    font-size: 1.6rem !important;
  }
  .subtitle {
    font-size: 1.1rem !important;
  }
  .margin-y-fields {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .pdv-frame {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 80%;
  }
  .btn-main-menu {
    height:6rem;
    width:9rem;
  }
  .margin-b {
    margin-bottom: 0.5rem !important;
  }
  .section {
    font-size: 1.7rem !important;
  }
}

@media only screen and (max-height: 730px) {
  .table-wrapper {
    height: 12.5rem;
    width: 100%;
    margin: 0px auto 0px auto;
    overflow: auto;
  }
  .table-registros {
    height: 20rem;
    width: 100%;
    margin: 0px auto 0px auto;
    overflow: auto;
  }
  .table-registros-titulos {
    height: 16.5rem;
    width: 100%;
    margin: 0px auto 0px auto;
    overflow: auto;
  }
  .table-consulta-pedidos {
    height: 24rem;
    width: 100%;
    margin: 0px auto 0px auto;
    overflow: auto;
  }
  .table-consulta-itens {
    height: 11.2rem;
    width: 100%;
    margin: 0px auto 0px auto;
    overflow: auto;
  }
  .input-sale {
    font-size: 0.8rem !important;
  }
  .margin-y-fields {
    margin-top: 0.4rem !important;
    margin-bottom: 0.4rem !important;
  }
}

@media (max-width: 450px) {
  .btn-main-menu {
    height:7rem;
    width:7rem;
  }
}